<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	
	<title>My Map</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.Default.min.css" />

	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin="">
	</script>
	<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
	<style>
		#map{ height: 700px; }
	</style>
</head>

<body>

	<h1>This is a Heading</h1>
	<p>This is a paragraph.</p>

	<div id="mapform">
		<form method="post">
			<label>From Date:</label>
			<input type="date" name="FromDate">
			<label>To Date:</label>
			<input type="date" name="ToDate">
			<button class="btn btn-primary btn-block mb-4">Submit!</button>		
		</form>
	</div>

	<div id="map"></div>
		<script>
		
		var map = L.map('map').setView([51, -114], 10);		
		L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    		maxZoom: 19,
    		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);

		var add = "{{ add|safe }}" // stupid safe word
		// console.log(add)

		// fetch(
  		// 	add // this is a passed url
		// ).then(
  		// 	res => res.json()
		// ).then(
  		// 	data => L.geoJSON(data,{
		// 		onEachFeature: function(feature, layer){
		// 			layer.bindPopup(feature.properties.issueddate + "<br>" + feature.properties.workclassgroup + "<br>" + feature.properties.contractorname + "<br>" + feature.properties.communityname + "<br>" + feature.properties.originaladdress)
		// 		}
		// 	}).addTo(map)
		// )

		async function load_shapefile(add) {
      		let url = add;
      		const response = await fetch(url)
      		const shape_obj = await response.json();
      		console.log(shape_obj);
			var markers = L.markerClusterGroup();
			var geoJsonLayer = L.geoJson(shape_obj, {
		 		onEachFeature: function(feature, layer){
		 			layer.bindPopup(feature.properties.issueddate + "<br>" + feature.properties.workclassgroup + "<br>" + feature.properties.contractorname + "<br>" + feature.properties.communityname + "<br>" + feature.properties.originaladdress)
		 		}
		 	});
			markers.addLayer(geoJsonLayer);
			map.addLayer(markers);
			
			var oms = new OverlappingMarkerSpiderfier(map);
			var popup = new L.Popup();
			oms.addListener('click', function(marker) {
  			popup.setContent(marker.desc);
  			popup.setLatLng(marker.getLatLng());
  			map.openPopup(popup);
			});
			oms.addMarker(markers);


      		return shape_obj;
    	}

    	async function main(add) {
      		const json = await load_shapefile(add);
    	}

		main(add)
		
		</script>

</body>
</html>