<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	
	<title>My Map</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.Default.min.css" />

	
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin="">
	</script>

	<script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
	<style>
		#map{ height: 700px; width: 100% }
	</style>

	<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>

<body>

<div class = "container">
	<h1 class= "p-2"><center>Calgary Building Permits and Traffic Accidents</center></h1>
	<p><center>Created by: Seema Mustaqeem and Luc Nicolet</center></p>
	<p><center>Updated for ENGO 551 - Lab 4</center></p>

	<div class="row">
		<div id="mapformtest" class="text-center p-1">
			<form method="post">
				<input type="text" name="daterange"/>
				<button class="btn btn-primary">Search!</button>
			</form>
		</div>
	</div>
	<p><center>Current Search: {{ teststring }}</center></p>
</div>

<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
		<div id="map" style="width: 100%; height: 600px;" class="rounded p-3">
			<script>		
				var map = L.map('map').setView([51, -114], 10);		
				var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    				maxZoom: 19,
    				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
				}).addTo(map);

				L.mapbox.accessToken='pk.eyJ1Ijoic2VlbWFtc3QiLCJhIjoiY2xldzduZWd6MGFveTQzczN1NDJxaXFuYSJ9.lunUE-1vqz1HrliNNE2Izg';
				var testlayer = L.mapbox.styleLayer('mapbox://styles/seemamst/clf920ztb000c01p8l9dl6yz3/draft');
				var testlayer2 = L.mapbox.styleLayer('mapbox://styles/seemamst/clf7eucx8000301nvr7dsompk/draft');
				
				var add = "{{ add|safe }}"

				async function load_shapefile(add) {
      			let url = add;
      			const response = await fetch(url)
      			const shape_obj = await response.json();
      			console.log(shape_obj);
				var markers = L.markerClusterGroup();
				var geoJsonLayer = L.geoJson(shape_obj, {
		 			onEachFeature: function(feature, layer){
		 				layer.bindPopup("Issue date: " + feature.properties.issueddate + "<br>" + "Work Class Group: " + feature.properties.workclassgroup + "<br>" + "Contractor: " + feature.properties.contractorname + "<br>" + "Community: " + feature.properties.communityname + "<br>" + "Address: " +  feature.properties.originaladdress)
		 			}
		 		});
				markers.addLayer(geoJsonLayer);
				// map.addLayer(markers);
			
				var oms = new OverlappingMarkerSpiderfier(map);
				var popup = new L.Popup();
				oms.addListener('click', function(marker) {
  				popup.setContent(marker.desc);
  				popup.setLatLng(marker.getLatLng());
  				map.openPopup(popup);
				});
				oms.addMarker(markers);

				var baseMaps = {
					"OpenStreetMap": osm
				};
				var overlayMaps = {
					"Traffic Accidents - Light Mode": testlayer,
					"Traffic Accidents - Dark Mode": testlayer2,
					"Building Permits": markers
				};
				var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);

      			return shape_obj;
    			}

    			async function main(add) {
      				const json = await load_shapefile(add);
    			}

				main(add)	
				
				
				
			</script>
		</div>
	</div>
	</div>
</div>
</body>
</html>